DataSet = kitti
DataSetRootDirectory = ~/data/kitti/dataset
SequenceNumber = 0

# path to the initialization trajectory
Trajectory = ../data/kitti_init_poor/00.txt

StereoAlgorithm = BlockMatching

numberOfDisparities = 128
sobelCapValue = 15

SADWindowSize = 9

censusRadius = 1
windowRadius = 3

# Algorithm config
#maxNumPoints = 32768
maxNumPoints = 4096
slidingWindowSize = 5
patchRadius = 1

# min zncc score
minScore = 0.65

robustThreshold = 0.05

